.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-color: #f0f2f5;
    margin: 1.5rem 1.5rem;
    padding: 1.5rem 1.5rem;
}

.title {
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #333;
    font-family: sans-serif;
}
